<div id="<%= dom_id submission %>">
  <p>
    <strong>assignment:</strong>
    <%= submission.assignment_id %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= submission.student_id %>
  </p>

  <p>
    <strong>Submitted at:</strong>
    <%= submission.submitted_at %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= submission.file_path %>
  </p>

</div>
