<div id="<%= dom_id teacher %>">
  <p>
    <strong>First name:</strong>
    <%= teacher.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= teacher.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department_id_id %>
  </p>

</div>
