<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= course.code %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= course.department_id %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course.teacher_id %>
  </p>

</div>
